<!-- This will be where the forum information
     is displayed for the app
-->
<section class="container">
    <table class="table table-bordered table-hover">

        <thead>
            <tr class="info text-center">
                <td>Topics</td>
                <td>Questions</td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let posts of postData">
                <td>{{ posts.topic }}</td>
                <td>{{ posts.bodyInformation }}</td>
            </tr>
        </tbody>


    </table>
</section>