<!-- This will be where the forum information
     is displayed for the app 
-->
<hr>
<div class="container-fluid text-left">
    <p class="text-left text-primary">Forum Instructions</p>

    <ul class="list-group well text-info" *ngFor="let allInfo of info">
        <li class="list-group-item">{{ allInfo.topic }}</li>
        <li class="list-group-item">{{ allInfo.citationUrl }}</li>
        <li class="list-group-item">{{ allInfo.informationBody }}</li>
    </ul>
</div>
<hr>

<section class="container-fluid well">
    <app-post></app-post>
</section>