<!-- header section for the entire app -->
<section class="text-center well">
  <h1 class="text-primary">CS Information Exchange</h1>
</section>

<nav class="navbar navbar-default pull-right">
  <ul class="nav navbar-nav">

    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/">Home</a>
    </li>

    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/posts">Make New Post</a>
    </li>

    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/forum">Question to be Answered</a>
    </li>

  </ul>
</nav>

<br>
<br>
<br>
<br>



<!-- router-outlet is for routing features of the app -->
<router-outlet></router-outlet>