<!-- header section for the entire app -->
<section class="container-fluid text-center well">
  <h1 class="text-primary">Computer Science Information forum</h1>
</section>

<nav class="navbar navbar-default pull-right">
  <div class="container-fluid">
    <ul class="nav navbar-nav">

      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/">Home</a>
      </li>

      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/posts">Make New Post</a>
      </li>

      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/forum">Question to be Answered</a>
      </li>

    </ul>
  </div>
</nav>

<br>
<br>

<div>
  <!-- router-outlet is for routing features of the app -->
  <router-outlet></router-outlet>
</div>