<div class="container">


    <!-- This division is a form in angular -->
    <div class="form-group">
        <p><label>Enter a Topic</label></p>
        <input style="width: 35%;" class="form-control" type="text" [(ngModel)]="topic">
        <br>

        <label>Enter Question about topic here</label>
        <p><input class="form-control" type="text" [(ngModel)]="bodyInformation"></p>

    </div>

    <p>
        <button [disabled]="!isValid()" class="btn btn-primary" routerLink="/forum" (click)='postData()'>
            Create New Post
        </button>
    </p>

</div>